<div class="container">

  <%= simple_form_for [@list, Bookmark.new] do |f| %>
    <%= f.input :movie_id, collection: Movie.all, label: 'Select a movie' %>
    <%= f.hidden_field :list_id, value: @list.id %>
    <%= f.input :comment %>

    <%= f.button :submit, 'Add to List', class: "btn btn-success" %>
  <% end %>
</div>
